#bod{
    background-color: #d3bdb0;
}

.green{

    color: #89937c;
    

}

.mono{
    font-family: 'Courier Prime', monospace;
}

.mutedP{
    color: #715b64;
}

.plum{
    color:#854774;
}

.pushCenter{
  padding-right: 15%;
  padding-left: 15%;
}


