<html>

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upStyle.css') }}">
	<!-- <link rel="stylesheet" type="text/css"  href="/static/style.css">"> -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap" rel="stylesheet">

	<!-- font-family: 'Poppins', sans-serif; -->
	<title>ctrl-alt-thread</title>

</head>

<body style="background-color:#d3bdb0">
	<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #c1ae9f;">
		<a class="navbar-brand" href="/index"><img src="../static/sq-ctrl-alt-thread.PNG" id="logo" width="70"/></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a style="font-family: 'Courier Prime', monospace" class="nav-item nav-link active topbar"
						href="#">About Us</a>
					<a style="font-family: 'Courier Prime', monospace" class="nav-item nav-link" href="/upcycleSearch">
						| Upcycle</a>
					<a style="font-family: 'Courier Prime', monospace" class="nav-item nav-link" href="/userProfile"> |
						Your Dashboard</a>
					<a style="font-family: 'Courier Prime', monospace" class="nav-item nav-link" href="/loginsignup"> |
						Log-in</a>
					<a style="font-family: 'Courier Prime', monospace" class="nav-item nav-link" href="/logout"> | Log
						Out</a>
				</div>
			</div>
	</nav>
	
	<br/>
	<br/>
	<br/>
	<br/>

	<center>
        <h1 class="oswald green" style="font-size:50px;">Our Story</h1>
		<h2 style="color: #4B3824; font-size:35px;" class='header oswald'>85% of textiles are sent to landfills.</h2>
		<h2 style="color: #4B3824; font-size:35px;" class='header oswald'>But, 95% of discarded clothing can be recycled
			or upcycled.</h2>
	</center>

	
    <p style="text-align:justify; padding-right:7%; padding-left:7%; font-size:20px;" class='text lato mutedP'>we love fashion, but we’re also students who understand (all too well) the struggles associated with constantly updating your wardrobe. after discovering our shared love for the social media influencer, best dressed, we realized that updating your wardrobe doesn’t have to be hard but rather,  a creative outlet & sustainable process. ctrl-alt-thread is grounded in the belief that true change lies in the confluence of small acts of activism. our upcycling tool contributes to the elimination of fashion waste, one thread at a time.</p>
    <center><div class="container">
		<div class="row">
			<div class="col md-6">
                <img src="../static/sized_ruth.jpg" width="200">
                <p style="text-align:center; padding-right:7%; padding-left:7%; font-size:20px;" class='text lato mutedP'>Ruth Lee<br/>ig: @ruthleee</p>

            </div>
            <div class="col md-6">
                <img src="../static/sized_sav.JPG" width="200">
                <p style="text-align:center; padding-right:7%; padding-left:7%; font-size:20px;" class='text lato mutedP'>Savitha Srinivasan<br/>ig: @codeancer</p>
            </div>
        </div>
    </div></center>
    
    

	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<center>
		<p class="mono plum">Designed by Ruth Lee and Savitha Srinivasan</p>
	</center>
</body>

</html>