<html>

<head>
	<link href="/static/css/style.css" type="text/css" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
	<title>ctrl-alt-thread</title>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#"><img src="../static/square_logo.png" id="logo" width="40"/></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active topbar" href="#">About Us</a>
					<a class="nav-item nav-link" href="#"> |  Upcycle</a>
					<a class="nav-item nav-link" href="#"> |  Community</a>
					<a class="nav-item nav-link" href="#"> |  Impact</a>
				</div>
			</div>
	</nav>
	<center>
		<h2 id="top" class='header'>Our Mission</h2>
	</center>
	<p style="text-align:center" class='text'> Sustainable fashion is a movement and process of fostering change to
		fashion products and the
		fashion system towards greater ecological integrity and social justice. Our mission is to take one step towards
		fashion sustainability and encourage people to upcycle their clothes.</p>
	<center>
		<h2 class='header text'> What is Upcycling?</h2>
	</center>
	<p class='text'>Upcycling reduces clothing and textile waste by reusing deadstock or gently used fabric to create
		new garments and products. Making a single cotton T-shirt requires over 700 gallons of water, whereas using a
		pre-existing T-shirt to make something new requires nearly no water.</p>
	<center><button type="button" class="btn btn-outline-dark">Get Started</button></center>
</body>

</html>