<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upStyle.css') }}">
    <!-- <link rel="stylesheet" type="text/css"  href="/static/style.css">"> -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- font-family: 'Poppins', sans-serif; -->
    <title>ctrl-alt-thread</title>

</head>

<body style="background-color:#d3bdb0">
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c1ae9f;">
		<a class="navbar-brand" href="/index"><img src="../static/sq-ctrl-alt-thread.PNG" id="logo" width="70"/></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a style= "font-family: 'Courier Prime', monospace" class="nav-item nav-link active topbar" href="#">About Us</a>
					<a style= "font-family: 'Courier Prime', monospace" class="nav-item nav-link" href="/upcycleSearch"> |  Upcycle</a>
					<a style= "font-family: 'Courier Prime', monospace" class="nav-item nav-link" href="#"> |  Community</a>
					<a style= "font-family: 'Courier Prime', monospace"class="nav-item nav-link" href="#"> |  Impact</a>
				</div>
			</div>
	</nav>
	<center>
        <img src="../static/sq-ctrl-alt-thread.PNG" width="300">
        <h1 class="mono plum">where woke meets vogue</h1>
		<h2 style="color: #89937c" class='header mono'>Our Mission</h2>
	</center>
	<p style="text-align:justify; color: #715b64; font-family: 'Courier Prime', monospace" class='text pushCenter'> Sustainable fashion is a movement and process of fostering change to
		fashion products and the
		fashion system towards greater ecological integrity and social justice. Our mission is to take one step towards
		fashion sustainability and encourage people to upcycle their clothes.</p>
    <br/>

	<center>
		<h2 style="color: #89937c" class='header mono'> What is Upcycling?</h2>
	</center>

	<p style="text-align:justify; color: #715b64; font-family: 'Courier Prime', monospace" class='text pushCenter'>Upcycling reduces clothing and textile waste by reusing deadstock or gently used fabric to create
		new garments and products. Making a single cotton T-shirt requires over 700 gallons of water, whereas using a
		pre-existing T-shirt to make something new requires nearly no water.</p>
    
	<center><button type="button" class="btn btn-outline-light">Get Started</button></center>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <center><p class="mono plum">Designed by Ruth Lee and Savitha Srinivasan</p></center>
</body>

</html>