<html>

<head>
	<title>Welcome!</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand"
			href="#"><img src="/project/fashion_upcycling/fashion_logo.png" id="logo"/></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="#">About Us</a>
					<a class="nav-item nav-link" href="#">/ Upcycle</a>
                    <a class="nav-item nav-link" href="#">/ Community</a>
                    <a class="nav-item nav-link" href="#">/ Impact</a>
				</div>
			</div>
	</nav>
	<h2 class='heading text'>Our Mission</h2>
	<p class='text'> Sustainable fashion is a movement and process of fostering change to fashion products and the
		fashion system towards greater ecological integrity and social justice. Our mission is to take one step towards
		fashion sustainability and encourage people to upcycle their clothes.</p>
	<h2 class='heading text'> What is Upcycling?</h2>
	<p class='text'>Upcycling reduces clothing and textile waste by reusing deadstock or gently used fabric to create
		new garments and products. Making a single cotton T-shirt requires over 700 gallons of water, whereas using a
		pre-existing T-shirt to make something new requires nearly no water.</p>

</body>

</html>