<html>
    <head>
        <title>Welcome!</title>
    </head>
    <body>
        <h2 class='heading text'>Our Mission</h2>
        <p class='text'> Sustainable fashion is a movement and process of fostering change to fashion products and the fashion system towards greater ecological integrity and social justice. Our mission is to take one step towards fashion sustainability and encourage people to upcycle their clothes.</p>
        <h2 class='heading text'> What is Upcycling?</h2>
        <p class='text'>Upcycling reduces clothing and textile waste by reusing deadstock or gently used fabric to create new garments and products. Making a single cotton T-shirt requires over 700 gallons of water, whereas using a pre-existing T-shirt to make something new requires nearly no water.</p>
        <form>
            <input type="text" name="nickname" placeholder="Enter your nickname"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
