<html>

<head>
	<!-- <link href="../static/css/upStyle.css" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upStyle.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="http://website.com/css/custom-style.css?ver=<?php echo rand(111,999)?>"> -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap" rel="stylesheet">
	<title>ctrl-alt-thread</title>
 

</head>

<body class="bod">
	<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #c1ae9f;">
		<a class="navbar-brand" href="/index"><img src="../static/sq-ctrl-alt-thread.PNG" id="logo" width="70"/></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
				<a style="font-family: 'Courier Prime', monospace" class="nav-item nav-link active topbar"
						href="/aboutUs">About Us</a>
					<a style="font-family: 'Courier Prime', monospace" class="nav-item nav-link" href="/upcycleSearch">
						| Upcycle</a>
					<a style="font-family: 'Courier Prime', monospace" class="nav-item nav-link" href="/userProfile"> |
						Your Dashboard</a>
					<a style="font-family: 'Courier Prime', monospace" class="nav-item nav-link" href="/loginsignup"> |
						Log-in</a>
					<a style="font-family: 'Courier Prime', monospace" class="nav-item nav-link" href="/logout"> | Log
						Out</a>
				</div>
			</div>
	</nav>
	<br/>
    <br/>
    <br/>
    <br/>
    <br/>
	<center><h1 class="oswald green">upcyling options for a {{user_garment}}!</h1></center>
    <center><h2 class="oswald plum"> price savings: ${{user_price}} | environmental friendliness points: {{score}} </h2><center>
    <center> <p class="lato green"> {{user_brand.lower()}} has a sustainability score of {{100-score}}%. <br/>*you can earn up to 100 points per upcycle. a score of 100 points indicates that the brand you had intended to purchase has a sustainability score of 0%. <br/>*all sustainability scores are calculated using the ratings provided by goodonyou.eco </p><center>
    
   
    <div class="d-flex justify-content-center">
            <div class="p-2"><div class="card" style="width: 18rem; background-color:#d3bdb0">
            <img class="card-img-top" src= {{search_results[keys[0]]["thumbnail_url"]}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{keys[0]}}</h5>
                <p class="card-text">{{search_results[keys[0]]["description"]}}</p>
            </div>
            <div class="card-body">
                <center><div class="btn-group" role="group" aria-label="Basic example">
                    <div class="row text-center">
                        <div class="col">
                           <a href={{search_results[keys[0]]["video_url"]}}  class="btn btn-outline-light">Tutorial</a>
                        </div>
                    </div>
        
                    <div class="row text-center">
                        <div class="col">
                            <form method="post" action="/updateUserProgress">
                            <input type="text" name="env_score" style= "display:none" value="{{score}}">
                            <input type="text" name="savings" style= "display:none" value="{{user_price}}">
                            <input name="fav_item_index" style= "display:none" value="0">
                            <button type="submit" class="btn btn-outline-light">Add to portfolio</button>
                            </form>
                         </div>
                     </div>
                    
                </div></center>
                

            </div>
        </div></div>

        <div class="d-flex justify-content-center">
            <div class="p-2"><div class="card" style="width: 18rem; background-color:#d3bdb0">
            <img class="card-img-top" src= {{search_results[keys[1]]["thumbnail_url"]}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{keys[1]}}</h5>
                <p class="card-text">{{search_results[keys[1]]["description"]}}</p>
            </div>
            <div class="card-body">
                <center><div class="btn-group" role="group" aria-label="Basic example">
                    <div class="row text-center">
                        <div class="col">
                           <a href={{search_results[keys[1]]["video_url"]}}  class="btn btn-outline-light">Tutorial</a>
                        </div>
                    </div>
                
                    <div class="row text-center">
                        <div class="col">
                            <form method="post" action="/updateUserProgress">
                            <input type="text" name="env_score" style= "display:none" value="{{score}}" >
                            <input type="text" name="savings" style= "display:none" value="{{user_price}}" >
                            <input name="fav_item_index" style= "display:none" value="1">
                            <button type="submit" class="btn btn-outline-light">Add to portfolio</button>
                            </form>
                         </div>
                     </div>
                    
                </div></center>

            </div>
        </div></div>
        
            <div class="d-flex justify-content-center">
            <div class="p-2"><div class="card" style="width: 18rem; background-color:#d3bdb0">
            <img class="card-img-top" src= {{search_results[keys[2]]["thumbnail_url"]}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{keys[2]}}</h5>
                <p class="card-text">{{search_results[keys[2]]["description"]}}</p>
            </div>
            <div class="card-body">
                 <center><div class="btn-group" role="group" aria-label="Basic example">
                    <div class="row text-center">
                        <div class="col">
                           <a href={{search_results[keys[2]]["video_url"]}}  class="btn btn-outline-light">Tutorial</a>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <form method="post" action="/updateUserProgress">
                            <input type="text" name="env_score" style= "display:none" value="{{score}}" >
                            <input type="text" name="savings" style= "display:none" value="{{user_price}}" >
                            <input name="fav_item_index" style= "display:none" value="2">
                            <button type="submit" class="btn btn-outline-light">Add to portfolio</button>
                            </form>
                         </div>
                     </div>
                    
                </div></center>
            </div>
        </div></div>
       


    </div>

	
    
</body>

</html>


 