<html>

<head>
	<!-- <link href="../static/css/upStyle.css" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upStyle.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="http://website.com/css/custom-style.css?ver=<?php echo rand(111,999)?>"> -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
	<title>ctrl-alt-thread</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script type="text/javascript">
    function cmd(savings, env_score, username){
        $.ajax(
            {
            type: "POST",
            url: `127.0.0.1:5000/updateUserProgress?savings=${savings}&env_score=${env_score}&username=${username}`,
            success: function () { 
                alert("User Progress Updated")
            },
        });                
    }
    </script> -->

</head>

<body class="bod">
	<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #c1ae9f;">
		<a class="navbar-brand" href="/index"><img src="../static/sq-ctrl-alt-thread.PNG" id="logo" width="70"/></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active mono" href="#">About Us</a>
					<a class="nav-item nav-link mono " href="/upcycleSearch">/ Upcycle</a>
					<a class="nav-item nav-link mono" href="#">/ Community</a>
					<a class="nav-item nav-link mono" href="/userProfile"> |  Your Dashboard</a>
                    <a style="font-family: 'Courier Prime', monospace" class="nav-item nav-link" href="/loginsignup"> |Log-in/Sign-up</a>
                    <a style="font-family: 'Courier Prime', monospace" class="nav-item nav-link" href="/logout" > | Log Out</a>
				</div>
			</div>
	</nav>
	<br/>
    <br/>
    <br/>
    <br/>
    <br/>
	<center><h1 class="mono green">Upcyling options for a {{user_garment}}!</h1></center>
    <center><h2 class="mono green"> Price savings: ${{user_price}} Environmental Friendliness Points: {{score}} </h2><center>
    
    
    <!-- <div class="container">
    <div class="row">
    {% for i in range(3) %}
    
            <div class = "col-md-2"></div>
            <div class="col d-flex justify-content-center">
                <div class="card bg-dark" style="width: 18rem;">
                <img src= "https://i.ytimg.com/vi/sDpBfi-BE3s/hqdefault.jpg" class="card-img-top" alt="...">
                <div class="card-body mx-auto">
                    <h5 class="card-title text-white text-center">Number {{i+1}} </h5>
                    <p class="card-text text-white text-center">DIY | Ribbed High Neck Crop Top (Under $3!)</p>
                    <a href="https://www.youtube.com/watch?v=MgRTDmO75TQ" class="btn btn-success">watch now</a>
                </div>
                </div>
            </div>
            <div class = "col-md-2"> </div>
        
            {% endfor %}
        </div>
    </div> -->
    <div class="d-flex justify-content-center">
            <div class="p-2"><div class="card" style="width: 18rem; background-color:#d3bdb0">
            <img class="card-img-top" src= {{search_results[keys[0]]["thumbnail_url"]}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{keys[0]}}</h5>
                <p class="card-text">{{search_results[keys[0]]["description"]}}</p>
            </div>
            <div class="card-body">
                <center><div class="btn-group" role="group" aria-label="Basic example">
                    <div class="row text-center">
                        <div class="col">
                           <a href={{search_results[keys[0]]["video_url"]}}  class="btn btn-outline-light">Tutorial</a>
                        </div>
                    </div>
                    <!-- <button type="button" href= "{{search_results[keys[0]]["video_url"]}}" class="btn btn-outline-light">Tutorial</button>  -->
                    <div class="row text-center">
                        <div class="col">
                            <form method="post" action="/updateUserProgress">
                            <input type="text" name="env_score" style= "display:none" value="{{score}}">
                            <input type="text" name="savings" style= "display:none" value="{{user_price}}">
                            <input type="text" name="fav_item" style= "display:none" value="{{search_results[keys[0]]}}" >
                            <button type="submit" class="btn btn-outline-light">Add to portfolio</button>
                            </form>
                         </div>
                     </div>
                    
                </div></center>
                <!-- <a href="/userProfile" class="btn btn-light">Add to portfolio</a>
                <a href="https://www.youtube.com/watch?v=MgRTDmO75TQ" class="card-link">Watch now!</a> -->

            </div>
        </div></div>

        <div class="d-flex justify-content-center">
            <div class="p-2"><div class="card" style="width: 18rem; background-color:#d3bdb0">
            <img class="card-img-top" src= {{search_results[keys[1]]["thumbnail_url"]}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{keys[1]}}</h5>
                <p class="card-text">{{search_results[keys[1]]["description"]}}</p>
            </div>
            <div class="card-body">
                <center><div class="btn-group" role="group" aria-label="Basic example">
                    <div class="row text-center">
                        <div class="col">
                           <a href={{search_results[keys[1]]["video_url"]}}  class="btn btn-outline-light">Tutorial</a>
                        </div>
                    </div>
                    <!-- <button type="button" href= "{{search_results[keys[0]]["video_url"]}}" class="btn btn-outline-light">Tutorial</button>  -->
                    <div class="row text-center">
                        <div class="col">
                            <form method="post" action="/updateUserProgress">
                            <input type="text" name="env_score" style= "display:none" value="{{score}}" >
                            <input type="text" name="savings" style= "display:none" value="{{user_price}}" >
                            <input type="text" name="fav_item" style= "display:none" value="{{search_results[keys[1]]}}" >
                            <button type="submit" class="btn btn-outline-light">Add to portfolio</button>
                            </form>
                         </div>
                     </div>
                    
                </div></center>
                <!-- <a href="/userProfile" class="btn btn-light">Add to portfolio</a>
                <a href="https://www.youtube.com/watch?v=MgRTDmO75TQ" class="card-link">Watch now!</a> -->

            </div>
        </div></div>
        
            <div class="d-flex justify-content-center">
            <div class="p-2"><div class="card" style="width: 18rem; background-color:#d3bdb0">
            <img class="card-img-top" src= {{search_results[keys[2]]["thumbnail_url"]}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{keys[2]}}</h5>
                <p class="card-text">{{search_results[keys[2]]["description"]}}</p>
            </div>
            <div class="card-body">
                 <center><div class="btn-group" role="group" aria-label="Basic example">
                    <div class="row text-center">
                        <div class="col">
                           <a href={{search_results[keys[2]]["video_url"]}}  class="btn btn-outline-light">Tutorial</a>
                        </div>
                    </div>
                    <!-- <button type="button" href= "{{search_results[keys[0]]["video_url"]}}" class="btn btn-outline-light">Tutorial</button>  -->
                    <div class="row text-center">
                        <div class="col">
                            <form method="post" action="/updateUserProgress">
                            <input type="text" name="env_score" style= "display:none" value="{{score}}" >
                            <input type="text" name="savings" style= "display:none" value="{{user_price}}" >
                            <input type="text" name="fav_item" style= "display:none" value="{{search_results[keys[2]]}}" >
                            <button type="submit" class="btn btn-outline-light">Add to portfolio</button>
                            </form>
                         </div>
                     </div>
                    
                </div></center>
                <!-- <a href="/userProfile" class="btn btn-light">Add to portfolio</a>
                <a href="https://www.youtube.com/watch?v=MgRTDmO75TQ" class="card-link">Watch now!</a> -->

            </div>
        </div></div>
       


    </div>

	
    
</body>

</html>


 