<html>

<head>
	<!-- <link href="../static/css/upStyle.css" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upStyle.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="http://website.com/css/custom-style.css?ver=<?php echo rand(111,999)?>"> -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
	<title>ctrl-alt-thread</title>

</head>

<body id="bod">
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c1ae9f;">
		<a class="navbar-brand" href="/index"><img src="../static/sq-ctrl-alt-thread.PNG" id="logo" width="70"/></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active mono" href="#">About Us</a>
					<a class="nav-item nav-link mono " href="/upcycleSearch">/ Upcycle</a>
					<a class="nav-item nav-link mono" href="#">/ Community</a>
					<a class="nav-item nav-link mono" href="#">/ Impact</a>
				</div>
			</div>
	</nav>
	<br/>
	<h1 class="mono green">Upcyling options for a {{user_garment}}!!</h1>
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="https://i.ytimg.com/vi/sDpBfi-BE3s/hqdefault.jpg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">DIY | Ribbed High Neck Crop Top (Under $3!)</h5>
			<p class="card-text">If you guys did enjoy this video don't forget to hit the LIKE, COMMENT & SUBSCRIBE for more videos like this, and also turn the notification bell ON to keep you...</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Cras justo odio</li>
			<li class="list-group-item">Dapibus ac facilisis in</li>
			<li class="list-group-item">Vestibulum at eros</li>
		</ul>
		<div class="card-body">
			<a href="https://www.youtube.com/watch?v=MgRTDmO75TQ" class="card-link">Watch now!</a>
			<a href="#" class="card-link">Another link</a>
		</div>
	</div>
</body>

</html>