<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upStyle.css') }}">
    <!-- <link rel="stylesheet" type="text/css"  href="/static/style.css">"> -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- font-family: 'Poppins', sans-serif; -->
    <title>ctrl-alt-thread</title>

</head>

<body style="background-color:#d3bdb0">
	<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #c1ae9f;">
		<a class="navbar-brand" href="/index"><img src="../static/sq-ctrl-alt-thread.PNG" id="logo" width="70"/></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a style= "font-family: 'Courier Prime', monospace" class="nav-item nav-link active topbar" href="#">About Us</a>
					<a style= "font-family: 'Courier Prime', monospace" class="nav-item nav-link" href="/upcycleSearch"> |  Upcycle</a>
					<a style= "font-family: 'Courier Prime', monospace" class="nav-item nav-link" href="#"> |  Community</a>
					<a style= "font-family: 'Courier Prime', monospace"class="nav-item nav-link" href="/userProfile"> |  Your Impact</a>
                    <a style= "font-family: 'Courier Prime', monospace"class="nav-item nav-link" href="/loginsignup"> |  Log-in/Sign-up</a>
				</div>
			</div>
	</nav>
    <br/>
    <br/>
    <br/>
    <br/>
	<center>
        <img src="../static/sq-ctrl-alt-thread.PNG" width="200">
        <h1 class="mono plum">{{dispText}}</h1>
		
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <center><p class="mono plum">Designed by Ruth Lee and Savitha Srinivasan</p></center>
</body>

</html>